{% extends 'base-template.html' %}
{% load crispy_forms_tags %}

{% block head_title %} TGR staff | Add Price {% endblock %}

{%block content%}
<div class="container">
    <div class="forms">
        <h4>Add New Pricing</h4>
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <a class="btn btn-outline-secondary mt-3" href="{% url 'viewpricelist' %}">back</a>
            <input class="btn btn-secondary mt-3" type="submit" value="Add Price" />
        </form>
    </div>
</div>
{%endblock%}