{% extends 'base-template.html' %}
{% block head_title %} TGR staff | Edit Spaces {% endblock %}
{% load crispy_forms_tags %}

{% block mediacss %}
{{form.media}}
{% endblock %}

{%block content%}
<div class="forms container-fluid">
    <h4>Update Space entry for {{space.space_type}} | {{space.description}}</h4>
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <a class="btn btn-outline-secondary mt-3" href="{% url 'bookspace' %}">back</a>
        <input class="btn btn-secondary mt-3" type="submit" value="update" />
    </form>
</div>
{%endblock%}