{% extends 'base-template.html' %}
{% block head_title %} TGR staff | Edit Spaces {% endblock %}
{% load crispy_forms_tags %}

{% block mediacss %}
{{form.media}}
{% endblock %}

{%block content%}
<div class="container">
    <h4>Update Space entry for {{space.space_type}} | {{space.description}}</h4>
    <form class="adminForm" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6 form-group">
                {{form.space_type|as_crispy_field}}
            </div>
            <div class="col-sm-3 form-group">
                {{form.area_size|as_crispy_field}}
            </div>
            <div class="col-sm-3 form-group">
                {{form.seat_capacity|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                {{form.description|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                {{form.price|as_crispy_field}}
            </div>
            <div class="col-sm-6 form-group">
                {{form.photo|as_crispy_field}}
            </div>
        </div>
        <h4 class="mt-3">Amenities / Monthly Credits</h4>
        <div class="row">
            <div class="col-sm-4 form-group">
                {{form.meeting_room|as_crispy_field}}
            </div>
            <div class="col-sm-4 form-group">
                {{form.printing|as_crispy_field}}
            </div>
            <div class="col-sm-4 form-group">
                {{form.view|as_crispy_field}}
            </div>
        </div>
        <a class="btn btn-outline-secondary mt-3" href="{% url 'bookspace' %}">back</a>
        <input class="btn btn-secondary mt-3" type="submit" value="update" />
    </form>
</div>
{%endblock%}