/* base template */
#mainlogo {
    min-width: 200px;
    width: 30%;
}

#navigator {
    font-family: 'Cinzel', serif;
    font-size: calc(12px + 0.3vw);
    margin-top: 50px;
    font-weight: 600;
}

.navico {
    font-size: calc(16px + 0.2vw);
}


.dropdown-item {
    margin: 3px;
    font-size: calc(11px + 0.1vw);
    color: #393C73;

}

.dropdown-menu {
    min-width: 10rem;
}

.dropdown-menu[data-bs-popper] {
    left: -80px;
}

li.note {
    margin-left: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #6D758C;
    margin-bottom: 50px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    background-color: #6D758C;
    text-align: center;
    font-size: 1vw;
    padding: 1.5px;
}

/* --------------------------------- */
/* HOME INDEX page */
#homeCarousel .carousel-item img {
    display: block;
    width: 100%;
    margin: -18.5% 0;
}

#homeCarousel .homeOverlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    text-align: center;
}

#homeCarousel .imgOverlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
}

#homeCarousel .imgOverlay img {
    margin-top: 80px;
    max-width: 40%
}

/* ----------------------------------- */
/* cripsy forms */
.forms,
.form-group {
    margin: 15px;
}

.container-fluid {
    width: 80%;
    padding-bottom: 10px;
}

p.disclaimer {
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
    color: #393C73;
}

span.verified,
span.unverified,
span.primary,
button.signin {
    margin-left: 15px;
}

/* ----------------------------------- */
/* admin console - controls */
.adminbtn {
    float: right;
    margin: 8px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    width: 120px;
}

.adminconsole {
    background-color: #6D758C;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 0.8vw;
    padding: 15px;
}

.consoletitle {
    font-size: 1.08rem;
}

/* ----------------------------------- */
/* bookspace product display & trolley */
.productcard {
    margin: 15px;
    padding: 8px;
    width: 24rem;
}

.cardimg {
    height: 230px;
}

.carteditbtn,
.cartdelbtn {
    float: right;
    margin: 2px;
    color: #6D758C;
}

.cartbtn {
    float: right;
    margin: 2px;
    width: 100px;
    background-color: #393C73;
    border-color: #393C73;
}

/* trolley */
img.trolleyphoto {
    max-width: 180px;
    max-height: 180px;
    vertical-align: bottom;
}

.trolleytext {
    font-size: 0.8rem;
}

.checkObtn {
    float: right;
    background-color: #393C73;
    border-color: #393C73;
    margin-bottom: 10px;
}

/* ----------------------------------- */
/* BOOKTOUR / CRM contact point */

h1.head {
    font-size: 3rem;
    font-family: 'Cinzel', serif;
    font-weight: 800;
    color: #6D758C;
    margin-top: 20px;
    margin-bottom: 20px;
}

h4.subhead {
    font-family: 'Cinzel', serif;
    color: #6D758C;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

span.strong {
    font-weight: 800;
    font-family: auto;
}

#coreinfo {
    line-height: 2.0;
}

#contactCarousel .overlay {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Cinzel', serif;
    font-weight: 800;
    font-size: 2.5rem;
    color: whitesmoke;
    margin: 25px 0px 0px 45px;
}

.carousel-inner {
    width: 100%;
    overflow: hidden;
    margin: 0;
}

#contactCarousel .carousel-item img {
    display: block;
    width: 100%;
    margin: -22% 0;
}

/* ----------------------------------- */