/* base template */
#mainlogo {
    width: 30%;
}

#navigator {
    font-family: 'Cinzel', serif;
    font-size: 1.5vw;
    margin-top: 50px;
}

.nav-item {
    margin: 5px;
}

body {
    font-family: 'Raleway', sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    background-color: #6D758C;
    text-align: center;
    font-size: 1vw;
}

/* cripsy forms */
.forms,
.form-group {
    margin: 15px;
}

.container-fluid {
    width: 80%;
}

p.disclaimer {
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
    color: #393C73;
}