{% extends 'base-template.html' %}
{% load crispy_forms_tags %}

{% block head_title %} TGR | Login {% endblock %}

{% block content %}
<div class="container-fluid forms">
    <h4>Welcome to The General Room, Please Sign In</h4>

    <p>If you do not have an account yet, please
        <a href="{{ signup_url }}">sign up</a> first.</p>
    <div class="container">
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
            <button class="btn btn-outline-info" type="submit">Sign In</button>
        </form>
    </div>
</div>
{% endblock %}