{% extends 'base-template.html' %}
{% load crispy_forms_tags %}

{% block head_title %} TGR | SignUp {% endblock %}

{% block content %}
<div class="container-fluid forms">
    <h4>Sign Up to be a TGR member!</h4>

    <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>
    <div class="container">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form | crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-outline-info mt-2" type="submit">Sign Up &raquo;</button>
        </form>
    </div>
</div>
{% endblock %}