{% extends 'base-template.html' %}
{% load static %}

{% block head_title %} TGR | About {% endblock %}

{%block content%}
<div id="aboutus">
    <div class="row d-flex justify-content-center">
        <div class="col">
            <div class="container-fluid txtOverlay">
                <h1>The General Room</h1>
                <h5>At the heart of bustling Orchard Road</h5>
            </div>
            <img src="{% static 'assets\images\roomCarousel\MeetingRoomSmall.jpg' %}" class="img-fluid mt-3 mb-3"
                alt="meeting room generalroom tgr" />
        </div>
        <div class="col story">
            <div class="row">
                <div class="col-sm-6">
                    <h4>About Us</h4>
                    <p>
                        We are a stylish, modern and no-frills shared office premise and facilities. Our space is
                        strategically situated in the heart of bustling Orchard Road, with numerous banking and
                        peripheral office services to support your business.
                    </p>
                </div>
                <div class="col-sm-6">
                    <h4>Our Vision</h4>
                    <p>
                        To become a sought-after collaborative business base. A place where many things happen: from
                        business deals to networking, from a friendly conversation to a spark of business insights and
                        ideas.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Our Story</h4>
                    <p>
                        Our name is derived from the inspiration of an army General who is stern, yet effective, as well
                        as a play on the word 'General' to provide a wide-ranging space for the general needs of
                        businesses.
                    </p>
                </div>
                <div class="col-sm-6">
                    <h4>Our Logo</h4>
                    <p>
                        A badge is a recognition awarded to officials with exceptional accomplishment, contributon or
                        qualification.
                        This simple yet sleep representation of the badge and plagie given to men of honour for their
                        service portrays
                        The General Room's aspirations and achievements.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}