{% extends 'base-template.html' %}
{% load static %}
{% block head_title %} The General Room | TGR {% endblock %}
{%block content%}
<div id="homeCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'assets\images\crmCarousel\LoungeHotDeskArea.jpg' %}" class="d-block w-100"
                alt="tgr general room co-working space work luxury hotdesk hot desk" />
        </div>
        <div class="carousel-item">
            <img src="{% static 'assets\images\crmCarousel\LoungeArea.jpg' %}" class="d-block w-100"
                alt="tgr general room co-working space work luxury lounge">
        </div>
        <div class="carousel-item">
            <img src="{% static 'assets\images\crmCarousel\LoungeArea2.jpg' %}" class="d-block w-100"
                alt="tgr general room co-working space work luxury lounge">
        </div>
        <div class="homeOverlay container-fluid"></div>
        <div class="imgOverlay container-fluid">
            <img src="{% static 'assets\images\img_logo_big_white.png' %}"
                alt="the general room generalroom co-working space work hot hotdesk" />
        </div>
    </div>
</div>
<div class="tgrintro row">
    <div class="col">
        <h1 class="head mt-5">THE GENERAL ROOM</h1>
        <p>We are a boutique coworking space with a mission of providing stylish, modern and no-frills environment to
            help businesses get things done. We are conveniently located in Orchard and Somerset with sophisticated and
            well equipped business meeting rooms for your needs.</p>
        <p>Our space is also available for short term rentals.</p>
    </div>
    <div class="container d-flex justify-content-center col">
        <img id="tgrimg" src="{% static 'assets\images\crmCarousel\LoungeArea.jpg' %}"
            alt="the general room generalroom co-working space work hot luxury value money cheapest" />
    </div>
</div>
<hr>
<div class="container text-center">
    <h4 class="subhead">What We Provide</h4>
</div>
<hr>
<div class="row d-flex justify-content-center text-center">
    <div class="carouselcol col-6">
        <h4 class="subhead">Our Lounge</h4>
        <div id="loungeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#loungeCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#loungeCarousel" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#loungeCarousel" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#loungeCarousel" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#loungeCarousel" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#loungeCarousel" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#loungeCarousel" data-bs-slide-to="6"
                    aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#loungeCarousel" data-bs-slide-to="7"
                    aria-label="Slide 8"></button>
                <button type="button" data-bs-target="#loungeCarousel" data-bs-slide-to="8"
                    aria-label="Slide 9"></button>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="p" src="{% static 'assets\images\loungeCarousel\CA8A9353.jpg' %}" class="d-block w-100"
                        alt="the general room generalroom lounge area co-working space">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>The General Room | Lounge Area</h4>
                        <p>placeholder content slide #1.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="p" src="{% static 'assets\images\loungeCarousel\CA8A9406.jpg' %}" class="d-block w-100"
                        alt="the general room generalroom lounge area co-working space coffee machine cafe style">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>The General Room | Lounge Area</h4>
                        <p>placeholder content slide #2.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="p" src="{% static 'assets\images\loungeCarousel\OpenArea3.jpg' %}" class="d-block w-100"
                        alt="the general room generalroom lounge area co-working space lounging sofa hotel feel">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>The General Room | Lounge Area</h5>
                        <p>placeholder content slide #3.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="p" src="{% static 'assets\images\loungeCarousel\CA8A9482.jpg' %}" class="d-block w-100"
                        alt="the general room generalroom lounge area co-working space cafe work area">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>The General Room | Lounge Area</h4>
                        <p>placeholder content slide #4.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="h" src="{% static 'assets\images\loungeCarousel\DSCF2481.jpg' %}" class="d-block w-100"
                        alt="the general room generalroom lounge area co-working space">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>The General Room | Lounge Area</h4>
                        <p>placeholder content slide #5.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="h" src="{% static 'assets\images\loungeCarousel\OpenArea12.jpg' %}"
                        class="d-block w-100" alt="the general room generalroom lounge area co-working open space">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>The General Room | Lounge Area</h4>
                        <p>placeholder content slide #6.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="h" src="{% static 'assets\images\loungeCarousel\OpenArea19.jpg' %}"
                        class="d-block w-100"
                        alt="the general room generalroom lounge area co-working space work desk hot">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>The General Room | Lounge Area</h4>
                        <p>placeholder content slide #7.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="h" src="{% static 'assets\images\loungeCarousel\OpenArea5.jpg' %}" class="d-block w-100"
                        alt="the general room generalroom lounge area co-working space cafe style work area">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>The General Room | Lounge Area</h5>
                        <p>placeholder content slide #8.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="h" src="{% static 'assets\images\loungeCarousel\OpenArea9.jpg' %}" class="d-block w-100"
                        alt="the general room generalroom lounge area co-working space cafe style work area">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>The General Room | Lounge Area</h5>
                        <p>placeholder content slide #9.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#loungeCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#loungeCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="carouselcol col-6">
        <h4 class="subhead">Our Rooms</h4>
        <div id="roomCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#roomCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#roomCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#roomCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#roomCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#roomCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#roomCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#roomCarousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#roomCarousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
                <button type="button" data-bs-target="#roomCarousel" data-bs-slide-to="8" aria-label="Slide 9"></button>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="p" src="{% static 'assets\images\loungeCarousel\CA8A9353.jpg' %}" class="d-block w-100"
                        alt="the general room generalroom lounge area co-working space">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>The General Room | Dedicated Desk</h4>
                        <p>placeholder content slide #1.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="p" src="{% static 'assets\images\loungeCarousel\CA8A9406.jpg' %}" class="d-block w-100"
                        alt="the general room generalroom lounge area co-working space coffee machine cafe style">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>The General Room | Open Hot Desk</h4>
                        <p>placeholder content slide #2.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="p" src="{% static 'assets\images\loungeCarousel\OpenArea3.jpg' %}" class="d-block w-100"
                        alt="the general room generalroom lounge area co-working space lounging sofa hotel feel">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Meeting Room | Battalion</h5>
                        <p>placeholder content slide #3.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="p" src="{% static 'assets\images\loungeCarousel\CA8A9482.jpg' %}" class="d-block w-100"
                        alt="the general room generalroom lounge area co-working space cafe work area">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Meeting Room | Squadron</h4>
                        <p>placeholder content slide #4.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="h" src="{% static 'assets\images\loungeCarousel\DSCF2481.jpg' %}" class="d-block w-100"
                        alt="the general room generalroom lounge area co-working space">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Meeting Room | Something</h4>
                        <p>placeholder content slide #5.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="h" src="{% static 'assets\images\loungeCarousel\OpenArea12.jpg' %}"
                        class="d-block w-100" alt="the general room generalroom lounge area co-working open space">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Dedicated Storage | Lockers </h4>
                        <p>placeholder content slide #6.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="h" src="{% static 'assets\images\loungeCarousel\OpenArea19.jpg' %}"
                        class="d-block w-100"
                        alt="the general room generalroom lounge area co-working space work desk hot">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Private Room | Something </h4>
                        <p>placeholder content slide #7.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="h" src="{% static 'assets\images\loungeCarousel\OpenArea5.jpg' %}" class="d-block w-100"
                        alt="the general room generalroom lounge area co-working space cafe style work area">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Private Room | Something</h5>
                        <p>placeholder content slide #8.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="h" src="{% static 'assets\images\loungeCarousel\OpenArea9.jpg' %}" class="d-block w-100"
                        alt="the general room generalroom lounge area co-working space cafe style work area">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Private Room + | Something </h5>
                        <p>placeholder content slide #9.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#roomCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#roomCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<hr>
<div class="text-center row">
    <h4 class="subhead">TGR Memberships</h4>
    <div class="col mshiptable1">
        <h4 class="subhead">Virtual <br> Office</h4>
        <div class="container line">
            <hr>
        </div>
        <p><span class="price">100</span><br>SGD per month</p>
        <p><span class="strong">Usage Rights</span><br> - </p>
        <p><span class="strong">Printing Credits <br> <span class="qualifier">(Per Seat) </span></span><br> FREE 30 B&W
            pages
        </p>
        <p><span class="strong">Meeting Room Credits <br> <span class="qualifier">(Per Seat)</span></span><br> - </p>
        <p><span class="strong">Mailing Address</span><br> &#10003; </p>
        <p><span class="strong">Dedicated Storage</span><br> - </p>
    </div>
    <div class="col mshiptable">
        <h4 class="subhead">Hot <br> Desk</h4>
        <div class="container line">
            <hr>
        </div>
        <p><span class="price">300</span><br>SGD per seat/month</p>
        <p><span class="strong">Usage Rights</span><br> 9:00am - 6:00pm on weekdays </p>
        <p><span class="strong">Printing Credits <br> <span class="qualifier">(Per Seat) </span></span><br> FREE 30 B&W
            pages
        </p>
        <p><span class="strong">Meeting Room Credits <br> <span class="qualifier">(Per Seat)</span></span><br> FREE 2
            HRS </p>
        <p><span class="strong">Mailing Address</span><br> &#10003; </p>
        <p><span class="strong">Dedicated Storage</span><br> &#10003; </p>
    </div>
    <div class="col mshiptable1">
        <h4 class="subhead">Dedicated <br> Desk</h4>
        <div class="container line">
            <hr>
        </div>
        <p><span class="price">350</span><br>SGD per seat/month</p>
        <p><span class="strong">Usage Rights</span><br> 9:00am - 6:00pm on weekdays </p>
        <p><span class="strong">Printing Credits <br> <span class="qualifier">(Per Seat) </span></span><br> FREE 30 B&W
            pages
        </p>
        <p><span class="strong">Meeting Room Credits <br> <span class="qualifier">(Per Seat)</span></span><br> FREE 2
            HRS </p>
        <p><span class="strong">Mailing Address</span><br> &#10003; </p>
        <p><span class="strong">Dedicated Storage</span><br> &#10003; </p>
    </div>
    <div class="col mshiptable">
        <h4 class="subhead">Private <br> Office</h4>
        <div class="container line">
            <hr>
        </div>
        <p><span class="price">500</span><br>SGD per seat/month</p>
        <p><span class="strong">Usage Rights</span><br> 24/7 </p>
        <p><span class="strong">Printing Credits <br> <span class="qualifier">(Per Seat) </span></span><br> FREE 60 B&W
            pages
        </p>
        <p><span class="strong">Meeting Room Credits <br> <span class="qualifier">(Per Seat)</span></span><br> FREE 4
            HRS </p>
        <p><span class="strong">Mailing Address</span><br> &#10003; </p>
        <p><span class="strong">Dedicated Storage</span><br> &#10003; </p>
    </div>
    <div class="col mshiptable1">
        <h4 class="subhead">Private <br> Office + </h4>
        <div class="container line">
            <hr>
        </div>
        <p><span class="price">650</span><br>SGD per seat/month</p>
        <p><span class="strong">Usage Rights</span><br> 24/7 </p>
        <p><span class="strong">Printing Credits <br> <span class="qualifier">(Per Seat) </span></span><br> FREE 60 B&W
            pages
        </p>
        <p><span class="strong">Meeting Room Credits <br> <span class="qualifier">(Per Seat)</span></span><br> FREE 4
            HRS </p>
        <p><span class="strong">Mailing Address</span><br> &#10003; </p>
        <p><span class="strong">Dedicated Storage</span><br> &#10003; </p>
    </div>
</div>
<div class="text-center caveat">
    <p>Prices are exclusive of GST*
        <br>Additional storage space available for rent separately
        <br>Low printing cost at $0.25 per B&W page
        <br>Terms and Conditions Apply</p>
</div>
<hr>
<div class="text-center">
    <a href="#" class="btn btn-lg btn-danger mb-2">FREE HotDesk trials</a>
    <a href="#" class="btn btn-lg btn-danger mb-2">TAKE a Virtual Tour</a>
    <a href="#" class="btn btn-lg btn-danger mb-2">PROMOTION</a>
</div>

{%endblock%}